{
	"branches": ["main", "master"],
	"plugins": [
		["@semantic-release/commit-analyzer", {
			"preset": "angular",
			"releaseRules": [
				{ "type": "feat", "release": "minor" },
				{ "type": "fix", "release": "patch" },
				{ "type": "perf", "release": "patch" },
				{ "type": "revert", "release": "patch" },
				{ "breaking": true, "release": "major" }
			]
		}],
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "angular",
				"presetConfig": {
					"types": [
						{ "type": "feat", "section": "✨ Features" },
						{ "type": "fix", "section": "🐛 Bug Fixes" },
						{ "type": "perf", "section": "⚡ Performance Improvements" },
						{ "type": "revert", "section": "⏪ Reverts" },
						{ "type": "docs", "section": "📝 Documentation", "hidden": false },
						{ "type": "style", "section": "💄 Styles", "hidden": false },
						{ "type": "chore", "section": "🔧 Miscellaneous Chores", "hidden": false },
						{ "type": "refactor", "section": "♻️ Code Refactoring", "hidden": false },
						{ "type": "test", "section": "✅ Tests", "hidden": false },
						{ "type": "build", "section": "👷 Build System", "hidden": false },
						{ "type": "ci", "section": "⚙️ Continuous Integration", "hidden": false }
					]
				},
				"writerOpts": {
					"commitsSort": ["subject", "scope"],
					"commitPartial": "- {{#if scope}}**{{scope}}:** {{/if}}{{subject}} ([`{{shortHash}}`]({{@root.host}}/{{@root.owner}}/{{@root.repository}}/commit/{{hash}}))",
					"headerPartial": "",
					"mainTemplate": "{{#if releases}}{{#each releases}}{{#if @first}}{{#if tag}}## {{tag}} ({{date}})\n\n{{/if}}{{/if}}{{#each noteGroups}}{{> notes}}{{/each}}{{#if commits}}{{#each commits}}{{> commit}}{{/each}}\n{{/if}}{{/each}}{{/if}}",
					"transform": {
						"commit": "lowerCase",
						"emoji": true,
						"references": true,
						"revert": true
					}
				}
			}
		],
		[
			"@semantic-release/changelog",
			{
				"changelogFile": "CHANGELOG.md"
			}
		],
		[
			"@semantic-release/exec", {
				"prepareCmd": "python $GITHUB_WORKSPACE/.github/helper/update-version.py ${nextRelease.version}"
			}
		],
		[
			"@semantic-release/git", {
				"assets": ["CHANGELOG.md", "*/__init__.py"],
				"message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
			}
		],
		[
			"@semantic-release/github",
			{
				"successComment": false,
				"releasedLabels": false,
				"assets": []
			}
		]
	]
}
